/* src/components/css/eventcard.css */

h3 {
    font-family: 'Twinkle Star';
}

.event-card {
    border: 1px solid white;
    margin: 1rem;
    padding: 0;
    width: 15rem;
    display: flex;
    flex-direction: column;
    box-shadow: .1rem 5px 10px rgba(0, 0, 0, .2);
    height: fit-content;
}

.event-card img {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.event-card p {
    padding: 0 .5rem .5rem .5rem;
    margin: 0;
}

.event-card h4, h3 {
    padding: 0 .5rem 0 .5rem;
    margin: .5rem 0 .5rem 0;
    
}

.event-card h3 {
    color: var(--light-blue);
    font-weight: 400;
}

.button-link {
    margin: 1.5rem;
    align-self: center;
}