.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.subscribe-form-card {
    display: flex;
    flex-direction: row wrap;
    align-items: flex-start;
    width: 50%;
    background-color: var(--yellow-transparent); /* Temporary */
    box-shadow: .1rem 5px 10px rgba(0, 0, 0, .2);
    margin: 3rem;
    padding: 2rem;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    background-color: var(--yellow-transparent); /* Temporary */
    box-shadow: .1rem 5px 10px rgba(0, 0, 0, .2);
    margin: 3rem;
    padding: 1rem;
}

.contact-form input {
    background-color: white;
    margin: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    width: 100%;
}

.left {
    text-align: right;
    margin-right: 2rem;
    width: 50%;
}

.right {
    margin-left: 2rem;
    margin-top: 1rem;
    width: 50%;
}

.row-parent {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
}

.row-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.row-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-textarea {
    width: 100%;
    margin-bottom: 2rem;
    margin: 1rem;
}

.row-3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.formComponent {
    padding: 1rem;
}

.form-input {
    margin-top: 1rem;
    margin-right: 1rem;
    height: 1rem;
}

.form-textarea {
    margin-top: 1rem;
    width: 100%;
    height: 90%;
    border: none;
}

.form-requiredField {
    color: red;
}

.button-link {
    height: auto;
    margin-left: 0;
}

input, textarea {
    border: none;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: calc(15px + 0.390625vw);
    padding: 1rem;
    font-weight: 600;
}

button {
    border: none;
}